IF DB_ID(N'QuanLyKho') IS NULL
BEGIN
    CREATE DATABASE [QuanLyKho];
END;
GO
USE [QuanLyKho];
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Product', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Product](
	[Product_ID] [varchar](50) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Color] [nvarchar](50) NULL,
	[Speed] [varchar](50) NULL,
	[Battery_Capacity] [varchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[Category_ID] [varchar](50) NULL,
	[Sup_ID] [varchar](100) NULL,
	[Image] [varchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[List_Price_Before] [decimal](10, 2) NULL,
	[List_Price_After] [decimal](10, 2) NULL,
	[Warehouse_Item_ID] [varchar](50) NULL,
	[Warranty_Months] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Product_Stock]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Product_Stock', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Product_Stock](
	[Warehouse_Item_ID] [varchar](50) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Category_ID] [varchar](50) NOT NULL,
	[Sup_ID] [varchar](100) NOT NULL,
	[Quantity_Stock] [int] NOT NULL,
	[Unit_Price_Import] [decimal](18, 2) NOT NULL,
	[Created_Date] [date] NOT NULL,
	[Created_Time] [time](7) NOT NULL,
	[Production_Year] [int] NULL,
	[Is_In_Product] [bit] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Product_Stock] PRIMARY KEY CLUSTERED 
(
	[Warehouse_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Bill_Imported_Details]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Bill_Imported_Details', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Bill_Imported_Details](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Warehouse_Item_ID] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price_Import] [decimal](18, 2) NOT NULL,
	[Total_Price] [decimal](18, 2) NOT NULL,
	[Date_Imported] [date] NOT NULL,
	[Time_Imported] [time](7) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Bill_Imported_Details] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC,
	[Warehouse_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Bill_Exported_Details]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Bill_Exported_Details', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Bill_Exported_Details](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[Unit_Price_Sell_Before] [decimal](10, 2) NULL,
	[Unit_Price_Sell_After] [decimal](10, 2) NOT NULL,
	[Sold_Quantity] [int] NOT NULL,
	[Discount_Percent] [decimal](5, 2) NULL,
	[Total_Price_Before] [decimal](15, 2) NOT NULL,
	[Total_Price_After] [decimal](15, 2) NOT NULL,
	[Date_Exported] [date] NOT NULL,
	[Time_Exported] [time](7) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Promotion_Code] [varchar](50) NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Bill_Exported_Details] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  View [dbo].[v_Product_Quantity_InOut]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Product_Quantity_InOut', N'V') IS NOT NULL DROP VIEW dbo.v_Product_Quantity_InOut;
GO
CREATE VIEW [dbo].[v_Product_Quantity_InOut] AS
WITH Imported AS (
    SELECT ps.Warehouse_Item_ID, SUM(CAST(d.Quantity AS bigint)) AS Imported_Qty
    FROM dbo.Bill_Imported_Details d
    JOIN dbo.Product_Stock ps ON d.Warehouse_Item_ID = ps.Warehouse_Item_ID
    WHERE d.Status = 'Available'
    GROUP BY ps.Warehouse_Item_ID
),
Sold AS (
    SELECT p.Warehouse_Item_ID, SUM(CAST(d.Sold_Quantity AS bigint)) AS Sold_Qty -- Sử dụng Sold_Quantity
    FROM dbo.Bill_Exported_Details d
    JOIN dbo.Product p ON d.Product_ID = p.Product_ID
    WHERE p.Warehouse_Item_ID IS NOT NULL AND d.Status = 'Available'
    GROUP BY p.Warehouse_Item_ID
),
Stock AS (
    SELECT ps.Warehouse_Item_ID, CAST(ps.Quantity_Stock AS bigint) AS Stock_Qty
    FROM dbo.Product_Stock ps
    WHERE ps.Status = 'Available'
)
SELECT ps.Warehouse_Item_ID, ps.Product_Name,
       COALESCE(i.Imported_Qty,0) AS Imported_Qty,
       COALESCE(s.Sold_Qty,0)     AS Sold_Qty,
       COALESCE(k.Stock_Qty,0)    AS Stock_Qty,
       CASE WHEN COALESCE(k.Stock_Qty,0)+COALESCE(s.Sold_Qty,0)=COALESCE(i.Imported_Qty,0) THEN 1 ELSE 0 END AS IsBalanced
FROM dbo.Product_Stock ps
LEFT JOIN Imported i ON i.Warehouse_Item_ID = ps.Warehouse_Item_ID
LEFT JOIN Sold s ON s.Warehouse_Item_ID = ps.Warehouse_Item_ID
LEFT JOIN Stock k ON k.Warehouse_Item_ID = ps.Warehouse_Item_ID
WHERE ps.Status = 'Available';

GO
/****** Object:  Table [dbo].[Bill_Imported]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Bill_Imported', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Bill_Imported](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Total_Product] [int] NOT NULL,
	[Total_Price] [decimal](18, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Bill_Imported] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  View [dbo].[v_Bill_Imported_Print]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Bill_Imported_Print', N'V') IS NOT NULL DROP VIEW dbo.v_Bill_Imported_Print;
GO
CREATE VIEW [dbo].[v_Bill_Imported_Print] AS
SELECT h.Invoice_No, h.Admin_ID, h.Total_Product, h.Total_Price,
       d.Warehouse_Item_ID, ps.Product_Name,
       d.Quantity, d.Unit_Price_Import,
       d.Total_Price AS Line_Total,
       d.Date_Imported, d.Time_Imported
FROM dbo.Bill_Imported h
JOIN dbo.Bill_Imported_Details d ON d.Invoice_No=h.Invoice_No AND d.Admin_ID=h.Admin_ID
JOIN dbo.Product_Stock ps ON ps.Warehouse_Item_ID=d.Warehouse_Item_ID
WHERE h.Status = 'Available' AND d.Status = 'Available' AND ps.Status = 'Available';

GO
/****** Object:  Table [dbo].[Bill_Exported]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Bill_Exported', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Bill_Exported](
	[Invoice_No] [varchar](50) NOT NULL,
	[Admin_ID] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](50) NULL,
	[Order_No] [varchar](20) NULL,
	[Total_Product] [int] NOT NULL,
	[Description] [varchar](50) NULL,
	[Promotion_Code] [varchar](50) NULL,
	[VAT_Percent] [decimal](5, 2) NULL,
	[VAT_Amount] [decimal](15, 2) NULL,
	[Total_Amount] [decimal](15, 2) NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Bill_Exported] PRIMARY KEY CLUSTERED 
(
	[Invoice_No] ASC,
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  View [dbo].[v_Bill_Exported_Print]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Bill_Exported_Print', N'V') IS NOT NULL DROP VIEW dbo.v_Bill_Exported_Print;
GO
CREATE VIEW [dbo].[v_Bill_Exported_Print] AS
SELECT h.Invoice_No, h.Admin_ID, h.Customer_ID, h.Total_Product, h.Description,
       d.Product_ID, p.Product_Name,
       d.Sold_Quantity, -- Sử dụng Sold_Quantity
       d.Unit_Price_Sell_Before, d.Unit_Price_Sell_After, d.Discount_Percent,
       d.Total_Price_Before, d.Total_Price_After,
       d.Date_Exported, d.Time_Exported
FROM dbo.Bill_Exported h
JOIN dbo.Bill_Exported_Details d ON d.Invoice_No=h.Invoice_No AND d.Admin_ID=h.Admin_ID
JOIN dbo.Product p ON p.Product_ID=d.Product_ID
WHERE h.Status = 'Available' AND d.Status = 'Available' AND p.Status = 'Available';

GO
/****** Object:  View [dbo].[v_Inventory_Report]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Inventory_Report', N'V') IS NOT NULL DROP VIEW dbo.v_Inventory_Report;
GO
CREATE VIEW [dbo].[v_Inventory_Report] AS
SELECT q.Warehouse_Item_ID, q.Product_Name,
       ISNULL(q.Imported_Qty,0) AS Imported_Qty,
       ISNULL(q.Sold_Qty,0)     AS Sold_Qty,
       ISNULL(q.Stock_Qty,0)    AS Stock_Qty,
       CASE WHEN ISNULL(q.Stock_Qty,0)+ISNULL(q.Sold_Qty,0)=ISNULL(q.Imported_Qty,0) THEN N'Hợp lệ' ELSE N'Lệch' END AS CheckBalance
FROM dbo.v_Product_Quantity_InOut q;

GO
/****** Object:  View [dbo].[v_Product_Full_Info]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Product_Full_Info', N'V') IS NOT NULL DROP VIEW dbo.v_Product_Full_Info;
GO
CREATE VIEW [dbo].[v_Product_Full_Info] AS
SELECT 
    p.Product_ID,
    p.Product_Name,
    p.Image,
    p.Category_ID,
    p.Sup_ID,
    p.Color,
    p.Speed,
    p.Battery_Capacity,
    
    -- ========== SỐ LƯỢNG ==========
    ISNULL(ps.Quantity_Stock, 0) AS Total_Imported,         -- Số lượng nhập (từ Inventory)
    p.Quantity AS Current_Stock,                             -- Số lượng tồn kho (Product)
    ISNULL(ps.Quantity_Stock, 0) - p.Quantity AS Total_Sold, -- Số lượng đã bán (Nhập - Tồn)
    
    -- ========== GIÁ CẢ ==========
    ps.Unit_Price_Import AS Import_Price,                   
    p.Price AS Current_Selling_Price,                       
    p.List_Price_Before AS Original_Price,                 
    p.List_Price_After AS Promotional_Price,              
    
    -- ========== LINK ==========
    p.Warehouse_Item_ID,
    ISNULL(ps.Is_In_Product, 0) AS Is_In_Product,
    ps.Created_Date AS Stock_Created_Date,
    
    -- ========== KIỂM TRA CÂN BẰNG ==========
    CASE 
        WHEN ISNULL(ps.Quantity_Stock, 0) = p.Quantity + (ISNULL(ps.Quantity_Stock, 0) - p.Quantity)
        THEN N'✓ Cân bằng'
        ELSE N'✗ Lệch'
    END AS Balance_Status
    
FROM dbo.Product p
LEFT JOIN dbo.Product_Stock ps ON p.Warehouse_Item_ID = ps.Warehouse_Item_ID
WHERE p.Status = 'Available' AND (ps.Status = 'Available' OR ps.Status IS NULL);

GO
/****** Object:  View [dbo].[v_Product_Quantity_Check]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Product_Quantity_Check', N'V') IS NOT NULL DROP VIEW dbo.v_Product_Quantity_Check;
GO
CREATE VIEW [dbo].[v_Product_Quantity_Check] AS
SELECT 
    p.Product_ID,
    p.Product_Name,
    ISNULL(ps.Quantity_Stock, 0) AS Total_Imported,         -- Số lượng nhập
    p.Quantity AS Current_Stock,                             -- Số lượng tồn kho
    ISNULL(ps.Quantity_Stock, 0) - p.Quantity AS Total_Sold, -- Số lượng đã bán
    
    -- Kiểm tra: Nhập = Bán + Tồn
    CASE 
        WHEN ISNULL(ps.Quantity_Stock, 0) = p.Quantity + (ISNULL(ps.Quantity_Stock, 0) - p.Quantity)
        THEN N'✓ Cân bằng'
        ELSE N'✗ Lệch'
    END AS Balance_Status,
    
    -- Hiển thị công thức
    CAST(ISNULL(ps.Quantity_Stock, 0) AS nvarchar) + ' = ' + 
    CAST((ISNULL(ps.Quantity_Stock, 0) - p.Quantity) AS nvarchar) + ' + ' + 
    CAST(p.Quantity AS nvarchar) AS Formula
    
FROM dbo.Product p
LEFT JOIN dbo.Product_Stock ps ON p.Warehouse_Item_ID = ps.Warehouse_Item_ID
WHERE p.Status = 'Available' AND (ps.Status = 'Available' OR ps.Status IS NULL);

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Customer', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [varchar](50) NOT NULL,
	[Full_Name] [nvarchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Date_Of_Birth] [date] NOT NULL,
	[Email] [varchar](255) NULL,
	[Contact] [varchar](15) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Image] [varchar](255) NULL,
	[Status] [varchar](20) NOT NULL,
	[Record_Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  View [dbo].[v_Warranty_Information]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.v_Warranty_Information', N'V') IS NOT NULL DROP VIEW dbo.v_Warranty_Information;
GO
CREATE VIEW [dbo].[v_Warranty_Information] AS
SELECT 
    bed.Invoice_No,
    bed.Admin_ID,
    be.Customer_ID,
    bed.Product_ID,
    p.Product_Name,
    p.Warranty_Months,
    bed.Sold_Quantity,
    bed.Unit_Price_Sell_After,
    bed.Date_Exported,
    bed.Start_Date,
    bed.End_Date,
    c.Full_Name AS Customer_Name,
    c.Contact AS Customer_Contact,
    c.Address AS Customer_Address,
    CASE 
        WHEN bed.End_Date >= GETDATE() THEN 'Under Warranty'
        ELSE 'Warranty Expired'
    END AS Warranty_Status
FROM dbo.Bill_Exported_Details bed
LEFT JOIN dbo.Product p ON bed.Product_ID = p.Product_ID
LEFT JOIN dbo.Bill_Exported be ON bed.Invoice_No = be.Invoice_No AND bed.Admin_ID = be.Admin_ID
LEFT JOIN dbo.Customer c ON be.Customer_ID = c.Customer_ID
WHERE bed.Status = 'Available' AND p.Status = 'Available' AND c.Record_Status = 'Available';

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Admin', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Admin](
	[Admin_ID] [varchar](20) NOT NULL,
	[Admin_Name] [nvarchar](255) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](255) NULL,
	[Contact] [varchar](15) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Image] [varchar](255) NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Admin_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Cart', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [varchar](50) NOT NULL,
	[Customer_ID] [varchar](50) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[Quantity] [int] NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Category', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Category](
	[Category_ID] [varchar](50) NOT NULL,
	[Category_Name] [nvarchar](225) NOT NULL,
	[Sup_ID] [varchar](100) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Orders', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Orders](
	[Order_No] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](50) NOT NULL,
	[Cart_ID] [varchar](50) NULL,
	[Total_Quantity_Product] [int] NOT NULL,
	[Total_Price] [decimal](15, 2) NOT NULL,
	[Payment] [varchar](20) NOT NULL,
	[Promotion_Code] [varchar](50) NULL,
	[Date_Order] [date] NULL,
	[Time_Order] [time](7) NULL,
	[Status] [varchar](20) NOT NULL,
	[Record_Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC,
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Orders_Details]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Orders_Details', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Orders_Details](
	[Order_No] [varchar](20) NOT NULL,
	[Customer_ID] [varchar](50) NOT NULL,
	[Product_ID] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Sold_Quantity] [int] NOT NULL,
	[Date_Order] [date] NOT NULL,
	[Time_Order] [time](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Record_Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Orders_Details] PRIMARY KEY CLUSTERED 
(
	[Order_No] ASC,
	[Customer_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Promotion', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Promotion](
	[Promotion_Code] [varchar](50) NOT NULL,
	[Promotion_Name] [nvarchar](255) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Discount_Percent] [decimal](5, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[Promotion_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.Supplier', N'U') IS NULL
BEGIN
CREATE TABLE [dbo].[Supplier](
	[Sup_ID] [varchar](100) NOT NULL,
	[Sup_Name] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Contact] [varchar](100) NOT NULL,
	[Country] [varchar](100) NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Sup_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END;
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BED_Product]    Script Date: 10-Nov-25 11:25:34 PM ******/
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_BED_Product' AND object_id=OBJECT_ID('dbo.Bill_Exported_Details'))
CREATE NONCLUSTERED INDEX [IX_BED_Product] ON [dbo].[Bill_Exported_Details]
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BED_WarrantyDates]    Script Date: 10-Nov-25 11:25:34 PM ******/
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_BED_WarrantyDates' AND object_id=OBJECT_ID('dbo.Bill_Exported_Details'))
CREATE NONCLUSTERED INDEX [IX_BED_WarrantyDates] ON [dbo].[Bill_Exported_Details]
(
	[Start_Date] ASC,
	[End_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BID_WarehouseItem]    Script Date: 10-Nov-25 11:25:34 PM ******/
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_BID_WarehouseItem' AND object_id=OBJECT_ID('dbo.Bill_Imported_Details'))
CREATE NONCLUSTERED INDEX [IX_BID_WarehouseItem] ON [dbo].[Bill_Imported_Details]
(
	[Warehouse_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_WarehouseItem]    Script Date: 10-Nov-25 11:25:34 PM ******/
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_Product_WarehouseItem' AND object_id=OBJECT_ID('dbo.Product'))
CREATE NONCLUSTERED INDEX [IX_Product_WarehouseItem] ON [dbo].[Product]
(
	[Warehouse_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PS_CategorySup]    Script Date: 10-Nov-25 11:25:34 PM ******/
IF NOT EXISTS (SELECT 1 FROM sys.indexes WHERE name='IX_PS_CategorySup' AND object_id=OBJECT_ID('dbo.Product_Stock'))
CREATE NONCLUSTERED INDEX [IX_PS_CategorySup] ON [dbo].[Product_Stock]
(
	[Category_ID] ASC,
	[Sup_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Admin_Status')
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BE_TotalProduct')
ALTER TABLE [dbo].[Bill_Exported] ADD  CONSTRAINT [DF_BE_TotalProduct]  DEFAULT ((0)) FOR [Total_Product]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BE_VATPercent')
ALTER TABLE [dbo].[Bill_Exported] ADD  CONSTRAINT [DF_BE_VATPercent]  DEFAULT ((8.00)) FOR [VAT_Percent]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BillExported_Status')
ALTER TABLE [dbo].[Bill_Exported] ADD  CONSTRAINT [DF_BillExported_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BED_UnitPriceAfter')
ALTER TABLE [dbo].[Bill_Exported_Details] ADD  CONSTRAINT [DF_BED_UnitPriceAfter]  DEFAULT ((0.00)) FOR [Unit_Price_Sell_After]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BillExportedDetails_Status')
ALTER TABLE [dbo].[Bill_Exported_Details] ADD  CONSTRAINT [DF_BillExportedDetails_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BI_TotalProduct')
ALTER TABLE [dbo].[Bill_Imported] ADD  CONSTRAINT [DF_BI_TotalProduct]  DEFAULT ((0)) FOR [Total_Product]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BI_TotalPrice')
ALTER TABLE [dbo].[Bill_Imported] ADD  CONSTRAINT [DF_BI_TotalPrice]  DEFAULT ((0.00)) FOR [Total_Price]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BillImported_Status')
ALTER TABLE [dbo].[Bill_Imported] ADD  CONSTRAINT [DF_BillImported_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BID_UnitPriceImport')
ALTER TABLE [dbo].[Bill_Imported_Details] ADD  CONSTRAINT [DF_BID_UnitPriceImport]  DEFAULT ((0.00)) FOR [Unit_Price_Import]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_BillImportedDetails_Status')
ALTER TABLE [dbo].[Bill_Imported_Details] ADD  CONSTRAINT [DF_BillImportedDetails_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Cart_Status')
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Category_Status')
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Customer_Status')
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Status]  DEFAULT ('Inactive') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Customer_RecordStatus')
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_RecordStatus]  DEFAULT ('Available') FOR [Record_Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Orders_TotalQty')
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_TotalQty]  DEFAULT ((0)) FOR [Total_Quantity_Product]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Orders_TotalPrice')
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_TotalPrice]  DEFAULT ((0.00)) FOR [Total_Price]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Orders_Payment')
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Payment]  DEFAULT ('Cash') FOR [Payment]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Orders_Status')
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ('Waiting') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Orders_RecordStatus')
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_RecordStatus]  DEFAULT ('Available') FOR [Record_Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_OrdersDetails_RecordStatus')
ALTER TABLE [dbo].[Orders_Details] ADD  CONSTRAINT [DF_OrdersDetails_RecordStatus]  DEFAULT ('Available') FOR [Record_Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Product_Quantity')
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Product_WarrantyMonths')
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_WarrantyMonths]  DEFAULT ((12)) FOR [Warranty_Months]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Product_Status')
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=OBJECT_ID('dbo.Product_Stock') AND name='Quantity_Stock' AND default_object_id=0)
ALTER TABLE [dbo].[Product_Stock] ADD  DEFAULT ((0)) FOR [Quantity_Stock]
GO
IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=OBJECT_ID('dbo.Product_Stock') AND name='Is_In_Product' AND default_object_id=0)
ALTER TABLE [dbo].[Product_Stock] ADD  DEFAULT ((0)) FOR [Is_In_Product]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_ProductStock_Status')
ALTER TABLE [dbo].[Product_Stock] ADD  CONSTRAINT [DF_ProductStock_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Promotion_Status')
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.default_constraints WHERE name='DF_Supplier_Status')
ALTER TABLE [dbo].[Supplier] ADD  CONSTRAINT [DF_Supplier_Status]  DEFAULT ('Available') FOR [Status]
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillExported_Admin')
BEGIN
ALTER TABLE [dbo].[Bill_Exported]  WITH CHECK ADD  CONSTRAINT [FK_BillExported_Admin] FOREIGN KEY([Admin_ID])
REFERENCES [dbo].[Admin] ([Admin_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Exported] CHECK CONSTRAINT [FK_BillExported_Admin]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillExported_Customer')
BEGIN
ALTER TABLE [dbo].[Bill_Exported]  WITH CHECK ADD  CONSTRAINT [FK_BillExported_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Exported] CHECK CONSTRAINT [FK_BillExported_Customer]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillExported_Orders')
BEGIN
ALTER TABLE [dbo].[Bill_Exported]  WITH CHECK ADD  CONSTRAINT [FK_BillExported_Orders] FOREIGN KEY([Order_No], [Customer_ID])
REFERENCES [dbo].[Orders] ([Order_No], [Customer_ID])
ALTER TABLE [dbo].[Bill_Exported] CHECK CONSTRAINT [FK_BillExported_Orders]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillExported_Promotion')
BEGIN
ALTER TABLE [dbo].[Bill_Exported]  WITH CHECK ADD  CONSTRAINT [FK_BillExported_Promotion] FOREIGN KEY([Promotion_Code])
REFERENCES [dbo].[Promotion] ([Promotion_Code])
ALTER TABLE [dbo].[Bill_Exported] CHECK CONSTRAINT [FK_BillExported_Promotion]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillExportedDetails_Invoice')
BEGIN
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [FK_BillExportedDetails_Invoice] FOREIGN KEY([Invoice_No], [Admin_ID])
REFERENCES [dbo].[Bill_Exported] ([Invoice_No], [Admin_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [FK_BillExportedDetails_Invoice]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillExportedDetails_Product')
BEGIN
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [FK_BillExportedDetails_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [FK_BillExportedDetails_Product]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillImported_Admin')
BEGIN
ALTER TABLE [dbo].[Bill_Imported]  WITH CHECK ADD  CONSTRAINT [FK_BillImported_Admin] FOREIGN KEY([Admin_ID])
REFERENCES [dbo].[Admin] ([Admin_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Imported] CHECK CONSTRAINT [FK_BillImported_Admin]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BID_WarehouseStock')
BEGIN
ALTER TABLE [dbo].[Bill_Imported_Details]  WITH CHECK ADD  CONSTRAINT [FK_BID_WarehouseStock] FOREIGN KEY([Warehouse_Item_ID])
REFERENCES [dbo].[Product_Stock] ([Warehouse_Item_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Imported_Details] CHECK CONSTRAINT [FK_BID_WarehouseStock]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_BillImported')
BEGIN
ALTER TABLE [dbo].[Bill_Imported_Details]  WITH CHECK ADD  CONSTRAINT [FK_BillImported] FOREIGN KEY([Invoice_No], [Admin_ID])
REFERENCES [dbo].[Bill_Imported] ([Invoice_No], [Admin_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Bill_Imported_Details] CHECK CONSTRAINT [FK_BillImported]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Cart_Customer')
BEGIN
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Cart_Product')
BEGIN
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Category_Supplier')
BEGIN
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Supplier] FOREIGN KEY([Sup_ID])
REFERENCES [dbo].[Supplier] ([Sup_ID])
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Supplier]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Orders_Cart')
BEGIN
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cart] FOREIGN KEY([Cart_ID])
REFERENCES [dbo].[Cart] ([Cart_ID])
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cart]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Orders_Customer')
BEGIN
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Orders_Promotion')
BEGIN
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Promotion] FOREIGN KEY([Promotion_Code])
REFERENCES [dbo].[Promotion] ([Promotion_Code])
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Promotion]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_OrdersDetails_Orders')
BEGIN
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Orders] FOREIGN KEY([Order_No], [Customer_ID])
REFERENCES [dbo].[Orders] ([Order_No], [Customer_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Orders_Details] CHECK CONSTRAINT [FK_OrdersDetails_Orders]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_OrdersDetails_Product')
BEGIN
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
ON DELETE CASCADE
ALTER TABLE [dbo].[Orders_Details] CHECK CONSTRAINT [FK_OrdersDetails_Product]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_Product_WarehouseStock')
BEGIN
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_WarehouseStock] FOREIGN KEY([Warehouse_Item_ID])
REFERENCES [dbo].[Product_Stock] ([Warehouse_Item_ID])
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_WarehouseStock]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_ProductStock_Category')
BEGIN
ALTER TABLE [dbo].[Product_Stock]  WITH CHECK ADD  CONSTRAINT [FK_ProductStock_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
ALTER TABLE [dbo].[Product_Stock] CHECK CONSTRAINT [FK_ProductStock_Category]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name='FK_ProductStock_Supplier')
BEGIN
ALTER TABLE [dbo].[Product_Stock]  WITH CHECK ADD  CONSTRAINT [FK_ProductStock_Supplier] FOREIGN KEY([Sup_ID])
REFERENCES [dbo].[Supplier] ([Sup_ID])
ALTER TABLE [dbo].[Product_Stock] CHECK CONSTRAINT [FK_ProductStock_Supplier]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name='CK_BED_EndDate_After_StartDate')
BEGIN
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [CK_BED_EndDate_After_StartDate] CHECK  (([End_Date]>=[Start_Date]))
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [CK_BED_EndDate_After_StartDate]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name='CK_BED_SoldQuantity_Positive')
BEGIN
ALTER TABLE [dbo].[Bill_Exported_Details]  WITH CHECK ADD  CONSTRAINT [CK_BED_SoldQuantity_Positive] CHECK  (([Sold_Quantity]>(0)))
ALTER TABLE [dbo].[Bill_Exported_Details] CHECK CONSTRAINT [CK_BED_SoldQuantity_Positive]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name='CK_BID_Quantity_Positive')
BEGIN
ALTER TABLE [dbo].[Bill_Imported_Details]  WITH CHECK ADD  CONSTRAINT [CK_BID_Quantity_Positive] CHECK  (([Quantity]>(0)))
ALTER TABLE [dbo].[Bill_Imported_Details] CHECK CONSTRAINT [CK_BID_Quantity_Positive]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name='CK_Orders_Details_SoldQuantity_Positive')
BEGIN
ALTER TABLE [dbo].[Orders_Details]  WITH CHECK ADD  CONSTRAINT [CK_Orders_Details_SoldQuantity_Positive] CHECK  (([Sold_Quantity]>(0)))
ALTER TABLE [dbo].[Orders_Details] CHECK CONSTRAINT [CK_Orders_Details_SoldQuantity_Positive]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name='CK_Product_Quantity_NonNegative')
BEGIN
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_Quantity_NonNegative] CHECK  (([Quantity]>=(0)))
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_Quantity_NonNegative]
END
GO
IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name='CK_ProductStock_Quantity_NonNegative')
BEGIN
ALTER TABLE [dbo].[Product_Stock]  WITH CHECK ADD  CONSTRAINT [CK_ProductStock_Quantity_NonNegative] CHECK  (([Quantity_Stock]>=(0)))
ALTER TABLE [dbo].[Product_Stock] CHECK CONSTRAINT [CK_ProductStock_Quantity_NonNegative]
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckQuantityBalance]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_CheckQuantityBalance', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_CheckQuantityBalance;
GO
-- Stored Procedure: Kiểm tra tính đúng đắn của số lượng
CREATE PROCEDURE [dbo].[sp_CheckQuantityBalance]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        p.Product_ID,
        p.Product_Name,
        ISNULL(ps.Quantity_Stock, 0) AS Total_Imported,
        p.Quantity AS Current_Stock,
        ISNULL(sold.Sold_Quantity, 0) AS Total_Sold,
        CASE 
            WHEN ISNULL(ps.Quantity_Stock, 0) = p.Quantity + ISNULL(sold.Sold_Quantity, 0)
            THEN N'✓ Cân bằng'
            ELSE N'✗ Lệch'
        END AS Balance_Status,
        ISNULL(ps.Quantity_Stock, 0) - p.Quantity - ISNULL(sold.Sold_Quantity, 0) AS Difference
    FROM dbo.Product p
    LEFT JOIN dbo.Product_Stock ps ON p.Warehouse_Item_ID = ps.Warehouse_Item_ID
    LEFT JOIN (
        SELECT p.Warehouse_Item_ID, 
               ISNULL(SUM(bed.Sold_Quantity), 0) + ISNULL(SUM(od.Sold_Quantity), 0) AS Sold_Quantity -- Sử dụng Sold_Quantity
        FROM dbo.Product p
        LEFT JOIN dbo.Bill_Exported_Details bed ON p.Product_ID = bed.Product_ID AND bed.Status = 'Available'
        LEFT JOIN dbo.Orders_Details od ON p.Product_ID = od.Product_ID AND od.Record_Status = 'Available'
        WHERE p.Warehouse_Item_ID IS NOT NULL
        GROUP BY p.Warehouse_Item_ID
    ) sold ON ps.Warehouse_Item_ID = sold.Warehouse_Item_ID
    WHERE p.Status = 'Available' AND (ps.Status = 'Available' OR ps.Status IS NULL)
    ORDER BY Balance_Status DESC, ABS(ISNULL(ps.Quantity_Stock, 0) - p.Quantity - ISNULL(sold.Sold_Quantity, 0)) DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_FixQuantityIssues]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_FixQuantityIssues', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_FixQuantityIssues;
GO

-- ============================================
-- STORED PROCEDURE TO FIX QUANTITY ISSUES
-- ============================================

-- Stored Procedure: RESET và sửa lỗi số lượng (FIXED VERSION)
CREATE PROCEDURE [dbo].[sp_FixQuantityIssues]
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT '=== BẮT ĐẦU SỬA LỖI SỐ LƯỢNG ===';
    
    -- 1. RESET tất cả Product.Quantity về 0 trước
    UPDATE dbo.Product 
    SET Quantity = 0 
    WHERE Warehouse_Item_ID IS NOT NULL;
    
    PRINT '✓ Đã reset tất cả Product.Quantity về 0';
    
    -- 2. FIXED: Đồng bộ lại với logic đúng: Quantity = Tổng nhập - Tổng đã bán
    -- CHỈ cập nhật Product có Warehouse_Item_ID và có dữ liệu nhập
    UPDATE p
    SET p.Quantity = (
        (SELECT ISNULL(SUM(bid.Quantity), 0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status = 'Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity), 0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status = 'Available')
    )FROM dbo.Product p
    WHERE p.Warehouse_Item_ID IS NOT NULL
    AND p.Product_ID IS NOT NULL
    AND EXISTS (
        SELECT 1 FROM dbo.Bill_Imported_Details bid 
        WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID
    );
    
    PRINT '✓ Đã đồng bộ số lượng Product với logic đúng';
    
    -- 3. Kiểm tra kết quả
    SELECT 
        'After Fix' AS Info,
        p.Product_ID,
        p.Product_Name,
        ISNULL(ps.Quantity_Stock, 0) AS Total_Imported,
        p.Quantity AS Current_Stock,
        ISNULL(sold.Sold_Quantity, 0) AS Total_Sold,
        CASE 
            WHEN ISNULL(ps.Quantity_Stock, 0) = p.Quantity + ISNULL(sold.Sold_Quantity, 0)
            THEN N'✓ Cân bằng'
            ELSE N'✗ Lệch'
        END AS Balance_Status
    FROM dbo.Product p
    LEFT JOIN dbo.Product_Stock ps ON p.Warehouse_Item_ID = ps.Warehouse_Item_ID
    LEFT JOIN (
        SELECT p.Warehouse_Item_ID, 
               ISNULL(SUM(bed.Sold_Quantity), 0) AS Sold_Quantity
        FROM dbo.Product p
        LEFT JOIN dbo.Bill_Exported_Details bed ON p.Product_ID = bed.Product_ID AND bed.Status = 'Available'
        WHERE p.Warehouse_Item_ID IS NOT NULL
        GROUP BY p.Warehouse_Item_ID
    ) sold ON ps.Warehouse_Item_ID = sold.Warehouse_Item_ID
    WHERE p.Status = 'Available' AND (ps.Status = 'Available' OR ps.Status IS NULL)
    ORDER BY Balance_Status DESC;
    
    SELECT 'SUCCESS' AS Result, 'Quantity issues fixed - Reset and resync completed' AS Message;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetExportBillDetailsWithWarranty]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_GetExportBillDetailsWithWarranty', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_GetExportBillDetailsWithWarranty;
GO

-- ============================================
-- STORED PROCEDURES FOR WARRANTY
-- ============================================

-- Stored Procedure: Get Export Bill Details with Warranty Information
CREATE PROCEDURE [dbo].[sp_GetExportBillDetailsWithWarranty]
    @InvoiceNo varchar(50),
    @AdminID varchar(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        bed.Invoice_No,
        bed.Admin_ID,
        be.Customer_ID,
        bed.Product_ID,
        p.Product_Name,
        p.Color,
        p.Speed,
        p.Battery_Capacity,
        p.Price,
        p.Warranty_Months,
        bed.Sold_Quantity,
        bed.Unit_Price_Sell_After AS Sold_Price,
        bed.Date_Exported AS Sale_Date,
        bed.Time_Exported AS Sale_Time,
        bed.Start_Date,
        bed.End_Date,
        c.Full_Name AS Customer_Name,
        c.Contact AS Customer_Contact,
        c.Address AS Customer_Address,
        c.Email AS Customer_Email,
        CASE 
            WHEN bed.End_Date >= GETDATE() THEN 'Under Warranty'
            ELSE 'Warranty Expired'
        END AS Warranty_Status
    FROM dbo.Bill_Exported_Details bed
    LEFT JOIN dbo.Product p ON bed.Product_ID = p.Product_ID
    LEFT JOIN dbo.Bill_Exported be ON bed.Invoice_No = be.Invoice_No AND bed.Admin_ID = be.Admin_ID
LEFT JOIN dbo.Customer c ON be.Customer_ID = c.Customer_ID
    WHERE bed.Invoice_No = @InvoiceNo 
        AND bed.Admin_ID = @AdminID 
        AND bed.Status = 'Available' 
        AND p.Status = 'Available' 
        AND c.Record_Status = 'Available';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ReimportWarehouseItem]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_ReimportWarehouseItem', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_ReimportWarehouseItem;
GO
CREATE PROCEDURE [dbo].[sp_ReimportWarehouseItem]
    @Warehouse_Item_ID   varchar(50),
    @Added_Quantity      int,
    @Unit_Price_Import   decimal(18,2),
    @Admin_ID            varchar(20),
    @Invoice_No          varchar(50) = NULL      -- cho phép truyền vào; nếu NULL sẽ tự sinh
AS
BEGIN
    SET NOCOUNT ON;

    IF (@Added_Quantity IS NULL OR @Added_Quantity <= 0)
    BEGIN
        RAISERROR (N'Added_Quantity phải > 0', 16, 1);
        RETURN;
    END

    -- 1) Kiểm tra WH tồn tại
    IF NOT EXISTS (SELECT 1 FROM dbo.Product_Stock WITH (UPDLOCK, HOLDLOCK)
                   WHERE Warehouse_Item_ID = @Warehouse_Item_ID AND Status='Available')
    BEGIN
        RAISERROR (N'WAREHOUSE_NOT_FOUND', 16, 1);
        RETURN;
    END

    DECLARE @today date = CAST(GETDATE() AS date);
    DECLARE @now   time(7) = CAST(GETDATE() AS time(7));

    -- 2) Bảo đảm Admin tồn tại
    IF NOT EXISTS (SELECT 1 FROM dbo.Admin WHERE Admin_ID=@Admin_ID)
    BEGIN
        RAISERROR (N'ADMIN_NOT_FOUND', 16, 1);
        RETURN;
    END

    -- 3) Lấy giá cũ từ Product_Stock nếu không có giá mới
    DECLARE @current_price decimal(18,2);
    SELECT @current_price = Unit_Price_Import 
    FROM dbo.Product_Stock 
    WHERE Warehouse_Item_ID = @Warehouse_Item_ID;
    
    -- Nếu không có giá mới, sử dụng giá cũ
    IF @Unit_Price_Import IS NULL
    BEGIN
        SET @Unit_Price_Import = @current_price;
    END
    
    -- Nếu vẫn không có giá (cả cũ và mới), báo lỗi
    IF @Unit_Price_Import IS NULL OR @Unit_Price_Import = 0
    BEGIN
        RAISERROR (N'Unit_Price_Import cannot be NULL or 0. Please provide a valid price.', 16, 1);
        RETURN;
    END

    -- 4) Lập (hoặc dùng) Bill_Imported header
    IF @Invoice_No IS NULL OR LTRIM(RTRIM(@Invoice_No)) = ''
    BEGIN
        SET @Invoice_No = 'IM' + CONVERT(varchar(8), GETDATE(), 112) 
                        + RIGHT('0000' + CAST(ABS(CHECKSUM(NEWID())) % 10000 AS varchar(4)), 4);
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Bill_Imported WHERE Invoice_No=@Invoice_No AND Admin_ID=@Admin_ID)
    BEGIN
        INSERT dbo.Bill_Imported(Invoice_No, Admin_ID, Total_Product, Total_Price)
        VALUES(@Invoice_No, @Admin_ID, 0, 0.00);
    END

    -- 5) Tính tổng tiền: Added_Quantity * Unit_Price_Import (giá cũ hoặc giá mới)
    DECLARE @line_total decimal(18,2) = @Added_Quantity * @Unit_Price_Import;

    MERGE dbo.Bill_Imported_Details AS t
    USING (SELECT @Invoice_No AS Invoice_No, @Admin_ID AS Admin_ID, @Warehouse_Item_ID AS Warehouse_Item_ID) src
    ON (t.Invoice_No=src.Invoice_No AND t.Admin_ID=src.Admin_ID AND t.Warehouse_Item_ID=src.Warehouse_Item_ID)
    WHEN MATCHED THEN
        UPDATE SET 
            t.Quantity         = t.Quantity + @Added_Quantity,
            t.Unit_Price_Import= @Unit_Price_Import,  -- Sử dụng giá đã được xác định (cũ hoặc mới)
            -- Calculate Total_Price: (old Quantity + Added_Quantity) * Unit_Price_Import
            t.Total_Price      = (t.Quantity + @Added_Quantity) * @Unit_Price_Import,
            t.Date_Imported    = @today,
            t.Time_Imported    = @now,
            t.Status           = 'Available'
    WHEN NOT MATCHED THEN
        INSERT(Invoice_No, Admin_ID, Warehouse_Item_ID, Quantity, Unit_Price_Import, Total_Price, Date_Imported, Time_Imported, Status)
        VALUES(@Invoice_No, @Admin_ID, @Warehouse_Item_ID, @Added_Quantity, @Unit_Price_Import, @line_total, @today, @now, 'Available');

    -- 6) Cộng số lượng vào kho (Product_Stock) và cập nhật giá nếu có giá mới
    UPDATE ps
    SET ps.Quantity_Stock = ps.Quantity_Stock + @Added_Quantity,
        ps.Unit_Price_Import = @Unit_Price_Import  -- Cập nhật giá (có thể là giá cũ hoặc giá mới)
    FROM dbo.Product_Stock ps
    WHERE ps.Warehouse_Item_ID = @Warehouse_Item_ID;

    -- 7) Cập nhật lại header (tổng SL/tổng tiền) để in ấn
    UPDATE h
    SET h.Total_Product = ISNULL((
            SELECT SUM(Quantity) FROM dbo.Bill_Imported_Details d
            WHERE d.Invoice_No=h.Invoice_No AND d.Admin_ID=h.Admin_ID AND d.Status='Available'
        ),0),
        h.Total_Price = ISNULL((
            SELECT SUM(Total_Price) FROM dbo.Bill_Imported_Details d
            WHERE d.Invoice_No=h.Invoice_No AND d.Admin_ID=h.Admin_ID AND d.Status='Available'
        ),0.00)
    FROM dbo.Bill_Imported h
    WHERE h.Invoice_No=@Invoice_No AND h.Admin_ID=@Admin_ID;

    /* 8) Đồng bộ tồn Product cho mọi Product liên kết với Warehouse_Item_ID này
          Tồn (Product.Quantity) = Tổng nhập - Tổng đã bán
          Note: Trigger trg_BID_AI_SyncProduct và trg_BID_AU_SyncProduct cũng sẽ tự động đồng bộ
          nhưng giữ lại logic này để đảm bảo đồng bộ ngay lập tức sau khi commit */
    UPDATE p
    SET p.Quantity = 
        (SELECT ISNULL(SUM(bid.Quantity),0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status='Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity),0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status='Available')
    FROM dbo.Product p
    WHERE p.Warehouse_Item_ID = @Warehouse_Item_ID;

    SELECT 'SUCCESS' AS Result,
           'Reimport thành công' AS Message,
           @Invoice_No AS Invoice_No;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SyncAllProductQuantities]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_SyncAllProductQuantities', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_SyncAllProductQuantities;
GO

-- ============================================
-- STORED PROCEDURES FOR QUANTITY SYNCHRONIZATION
-- ============================================

-- Stored Procedure: Đồng bộ tất cả số lượng Product
CREATE PROCEDURE [dbo].[sp_SyncAllProductQuantities]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cập nhật Product.Quantity với logic đúng:
    -- Quantity = Tổng nhập - Tổng đã bán (CHỈ qua Export, KHÔNG qua Orders)
    -- CHỈ cập nhật các Product đã tồn tại và có dữ liệu nhập
    UPDATE p
    SET p.Quantity = (
        (SELECT ISNULL(SUM(bid.Quantity), 0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status = 'Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity), 0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status = 'Available')
    )FROM dbo.Product p
    WHERE p.Warehouse_Item_ID IS NOT NULL
    AND p.Product_ID IS NOT NULL -- CHỈ cập nhật Product đã tồn tại
    AND EXISTS (
        SELECT 1 FROM dbo.Bill_Imported_Details bid 
        WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID
    ); -- CHỈ cập nhật khi có dữ liệu nhập
    
    SELECT 'SUCCESS' AS Result, 'All product quantities synchronized' AS Message;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateWarrantyDates]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_UpdateWarrantyDates', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_UpdateWarrantyDates;
GO

-- Stored Procedure: Update Warranty Dates for Export Bill Details
CREATE PROCEDURE [dbo].[sp_UpdateWarrantyDates]
    @InvoiceNo varchar(50),
    @AdminID varchar(20),
    @ProductID varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Update Start_Date and End_Date based on Product's Warranty_Months
        UPDATE bed
        SET bed.Start_Date = bed.Date_Exported,
            bed.End_Date = DATEADD(MONTH, p.Warranty_Months, bed.Date_Exported)
        FROM dbo.Bill_Exported_Details bed
        INNER JOIN dbo.Product p ON bed.Product_ID = p.Product_ID
        WHERE bed.Invoice_No = @InvoiceNo 
            AND bed.Admin_ID = @AdminID 
            AND bed.Product_ID = @ProductID
            AND bed.Status = 'Available';
        
        COMMIT TRANSACTION;
        SELECT 'SUCCESS' AS Result, 'Warranty dates updated successfully' AS Message;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 'ERROR' AS Result, ERROR_MESSAGE() AS Message;
    END CATCH;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateStockBeforeExport]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.sp_ValidateStockBeforeExport', N'P') IS NOT NULL DROP PROCEDURE dbo.sp_ValidateStockBeforeExport;
GO

-- ============================================
-- STORED PROCEDURES FOR STOCK VALIDATION
-- ============================================

-- Stored Procedure: Kiểm tra tồn kho trước khi xuất
CREATE PROCEDURE [dbo].[sp_ValidateStockBeforeExport]
    @ProductID varchar(50),
    @RequestedQuantity int
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @ProductStock int = 0;
    DECLARE @WarehouseStock int = 0;
    DECLARE @IsValid bit = 0;
    
    -- Lấy số lượng tồn kho hiện tại
    SELECT 
        @ProductStock = ISNULL(p.Quantity, 0),
        @WarehouseStock = ISNULL(ps.Quantity_Stock, 0)
    FROM dbo.Product p
    LEFT JOIN dbo.Product_Stock ps ON p.Warehouse_Item_ID = ps.Warehouse_Item_ID
    WHERE p.Product_ID = @ProductID 
        AND p.Status = 'Available' 
        AND (ps.Status = 'Available' OR ps.Status IS NULL);
    
    -- Kiểm tra tồn kho
    IF @ProductStock >= @RequestedQuantity AND @WarehouseStock >= @RequestedQuantity
        SET @IsValid = 1;
    
    SELECT 
        @IsValid AS IsValid,
        @ProductStock AS ProductStock,
        @WarehouseStock AS WarehouseStock,
        @RequestedQuantity AS RequestedQuantity,
        CASE 
            WHEN @IsValid = 1 THEN 'SUCCESS'
            ELSE 'INSUFFICIENT_STOCK'
        END AS Result;
END;

GO
/****** Object:  Trigger [dbo].[trg_BED_AD_Stock]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_BED_AD_Stock', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_BED_AD_Stock;
GO

-- Trigger 6: Cập nhật Product.Quantity khi xóa bill xuất (trả lại hàng) (FIXED)
CREATE TRIGGER [dbo].[trg_BED_AD_Stock] ON [dbo].[Bill_Exported_Details] AFTER DELETE AS
BEGIN
    SET NOCOUNT ON;
    
    -- FIXED: Cập nhật Product.Quantity = Tổng nhập - Tổng đã bán (CHỈ cho Product có Warehouse_Item_ID)
    UPDATE p
    SET p.Quantity = (
        (SELECT ISNULL(SUM(bid.Quantity), 0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status = 'Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity), 0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status = 'Available')
    )FROM dbo.Product p
    WHERE p.Product_ID IN (
        SELECT DISTINCT Product_ID FROM deleted
    )
    AND p.Warehouse_Item_ID IS NOT NULL; -- CHỈ cập nhật Product có liên kết với Warehouse
END;

GO
ALTER TABLE [dbo].[Bill_Exported_Details] ENABLE TRIGGER [trg_BED_AD_Stock]
GO
/****** Object:  Trigger [dbo].[trg_BED_AI_Stock]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_BED_AI_Stock', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_BED_AI_Stock;
GO

-- ============================================
-- TRIGGERS FOR PRODUCT_STOCK
-- ============================================

-- Trigger 4: Tự động tính warranty dates và cập nhật Product.Quantity (FIXED)
CREATE TRIGGER [dbo].[trg_BED_AI_Stock] ON [dbo].[Bill_Exported_Details] AFTER INSERT AS
BEGIN
    SET NOCOUNT ON;
    
    -- Tự động tính warranty dates nếu chưa có
    UPDATE bed
    SET bed.Start_Date = bed.Date_Exported,
        bed.End_Date = DATEADD(MONTH, p.Warranty_Months, bed.Date_Exported)
    FROM dbo.Bill_Exported_Details bed
    INNER JOIN dbo.Product p ON bed.Product_ID = p.Product_ID
    INNER JOIN inserted i ON bed.Invoice_No = i.Invoice_No 
        AND bed.Admin_ID = i.Admin_ID 
        AND bed.Product_ID = i.Product_ID
    WHERE bed.Start_Date IS NULL OR bed.End_Date IS NULL;
    
    -- FIXED: Cập nhật Product.Quantity = Tổng nhập - Tổng đã bán (CHỈ cho Product có Warehouse_Item_ID)
    UPDATE p
    SET p.Quantity = (
        (SELECT ISNULL(SUM(bid.Quantity), 0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status = 'Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity), 0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status = 'Available')
    )FROM dbo.Product p
    WHERE p.Product_ID IN (
        SELECT DISTINCT Product_ID FROM inserted
    )
    AND p.Warehouse_Item_ID IS NOT NULL; -- CHỈ cập nhật Product có liên kết với Warehouse
END;

GO
ALTER TABLE [dbo].[Bill_Exported_Details] ENABLE TRIGGER [trg_BED_AI_Stock]
GO
/****** Object:  Trigger [dbo].[trg_BED_AU_Stock]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_BED_AU_Stock', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_BED_AU_Stock;
GO

-- Trigger 5: Cập nhật Product.Quantity khi sửa bill xuất (FIXED)
CREATE TRIGGER [dbo].[trg_BED_AU_Stock] ON [dbo].[Bill_Exported_Details] AFTER UPDATE AS
BEGIN
    SET NOCOUNT ON;
    
    -- FIXED: Cập nhật Product.Quantity = Tổng nhập - Tổng đã bán (CHỈ cho Product có Warehouse_Item_ID)
    UPDATE p
    SET p.Quantity = (
        (SELECT ISNULL(SUM(bid.Quantity), 0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status = 'Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity), 0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status = 'Available')
    )FROM dbo.Product p
    WHERE p.Product_ID IN (
        SELECT DISTINCT Product_ID FROM inserted
        UNION
        SELECT DISTINCT Product_ID FROM deleted
    )
    AND p.Warehouse_Item_ID IS NOT NULL; -- CHỈ cập nhật Product có liên kết với Warehouse
END;

GO
ALTER TABLE [dbo].[Bill_Exported_Details] ENABLE TRIGGER [trg_BED_AU_Stock]
GO
/****** Object:  Trigger [dbo].[trg_BID_AD_SyncProduct]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_BID_AD_SyncProduct', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_BID_AD_SyncProduct;
GO
CREATE TRIGGER [dbo].[trg_BID_AD_SyncProduct] ON [dbo].[Bill_Imported_Details]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH A AS (SELECT DISTINCT Warehouse_Item_ID FROM deleted)
    UPDATE p
    SET p.Quantity = 
        (SELECT ISNULL(SUM(bid.Quantity),0) FROM dbo.Bill_Imported_Details bid 
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status='Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity),0) FROM dbo.Bill_Exported_Details bed 
         WHERE bed.Product_ID = p.Product_ID AND bed.Status='Available')
    FROM dbo.Product p
    JOIN A ON A.Warehouse_Item_ID = p.Warehouse_Item_ID;
END

GO
ALTER TABLE [dbo].[Bill_Imported_Details] ENABLE TRIGGER [trg_BID_AD_SyncProduct]
GO
/****** Object:  Trigger [dbo].[trg_BID_AI_SyncProduct]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_BID_AI_SyncProduct', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_BID_AI_SyncProduct;
GO
CREATE TRIGGER [dbo].[trg_BID_AI_SyncProduct] ON [dbo].[Bill_Imported_Details]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH A AS (
        SELECT DISTINCT Warehouse_Item_ID FROM inserted
    )
    UPDATE p
    SET p.Quantity = 
        (SELECT ISNULL(SUM(bid.Quantity),0) FROM dbo.Bill_Imported_Details bid 
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status='Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity),0) FROM dbo.Bill_Exported_Details bed 
         WHERE bed.Product_ID = p.Product_ID AND bed.Status='Available')
    FROM dbo.Product p
    JOIN A ON A.Warehouse_Item_ID = p.Warehouse_Item_ID;
END

GO
ALTER TABLE [dbo].[Bill_Imported_Details] ENABLE TRIGGER [trg_BID_AI_SyncProduct]
GO
/****** Object:  Trigger [dbo].[trg_BID_AU_SyncProduct]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_BID_AU_SyncProduct', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_BID_AU_SyncProduct;
GO
CREATE TRIGGER [dbo].[trg_BID_AU_SyncProduct] ON [dbo].[Bill_Imported_Details]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH A AS (
        SELECT Warehouse_Item_ID FROM inserted
        UNION
        SELECT Warehouse_Item_ID FROM deleted
    )
    UPDATE p
    SET p.Quantity = 
        (SELECT ISNULL(SUM(bid.Quantity),0) FROM dbo.Bill_Imported_Details bid 
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status='Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity),0) FROM dbo.Bill_Exported_Details bed 
         WHERE bed.Product_ID = p.Product_ID AND bed.Status='Available')
    FROM dbo.Product p
    JOIN A ON A.Warehouse_Item_ID = p.Warehouse_Item_ID;
END

GO
ALTER TABLE [dbo].[Bill_Imported_Details] ENABLE TRIGGER [trg_BID_AU_SyncProduct]
GO
/****** Object:  Trigger [dbo].[trg_Update_Product_Stock_On_Order]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_Update_Product_Stock_On_Order', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_Update_Product_Stock_On_Order;
GO

-- ============================================
-- TRIGGERS FOR QUANTITY MANAGEMENT
-- ============================================

-- Trigger 3: KHÔNG cập nhật Product.Quantity khi có Order (chỉ kiểm tra tồn kho)
-- Orders chỉ dự trữ hàng, không trừ số lượng cho đến khi xuất hóa đơn
-- Trigger này được giữ lại để tương lai có thể cần logic khác
CREATE TRIGGER [dbo].[trg_Update_Product_Stock_On_Order]
ON [dbo].[Orders_Details]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    
END;

GO
ALTER TABLE [dbo].[Orders_Details] ENABLE TRIGGER [trg_Update_Product_Stock_On_Order]
GO
/****** Object:  Trigger [dbo].[trg_Set_Product_Quantity_On_Create]    Script Date: 10-Nov-25 11:25:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF OBJECT_ID(N'dbo.trg_Set_Product_Quantity_On_Create', N'TR') IS NOT NULL DROP TRIGGER dbo.trg_Set_Product_Quantity_On_Create;
GO

-- Trigger 4: Set Product.Quantity khi tạo Product mới từ Warehouse
-- Set Quantity cho Product mới tạo từ Warehouse
CREATE TRIGGER [dbo].[trg_Set_Product_Quantity_On_Create]
ON [dbo].[Product]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Set Quantity cho Product mới tạo từ Warehouse
    -- Sử dụng logic: Quantity = Tổng nhập - Tổng đã bán
    UPDATE p
    SET p.Quantity = (
        (SELECT ISNULL(SUM(bid.Quantity), 0)
         FROM dbo.Bill_Imported_Details bid
         WHERE bid.Warehouse_Item_ID = p.Warehouse_Item_ID AND bid.Status = 'Available')
        -
        (SELECT ISNULL(SUM(bed.Sold_Quantity), 0)
         FROM dbo.Bill_Exported_Details bed
         WHERE bed.Product_ID = p.Product_ID AND bed.Status = 'Available')
    )FROM dbo.Product p
    INNER JOIN inserted i ON p.Product_ID = i.Product_ID
    WHERE p.Warehouse_Item_ID IS NOT NULL;
END;

GO
ALTER TABLE [dbo].[Product] ENABLE TRIGGER [trg_Set_Product_Quantity_On_Create]
GO

-- ============================================
-- SEED DATA
-- ============================================
MERGE dbo.Supplier AS t
USING (VALUES
('NIJIA', N'Company NIJIA',  N'QL1A, Quất Động, Thường Tín, Hà Nội', '0936281080', 'China'),
('TAILG', N'Company TAILG',  N'Số 8 KCN Minh Quang, P, Thị Xã Mã Hào, Hưng Yên', '0972155557', 'China'),
('YADEA', N'Company YADEA',  N'Khu công nghiệp Quang Châu, Phường Nếnh, Tỉnh Bắc Ninh', '0920462988', 'HongKong'),
('VINFAST', N'Company Vinfast',N'Khu Kinh tế Đình Vũ, TP. Hải Phòng', '0972155337', 'Vietnam'),
('HONDA', N'Company Honda', N'Số 67, Hoàng Văn Thái, Phường Tân Mỹ, TP. Hồ Chí Minh', '0933.899.544', 'Japan'),
('YAMAHA', N'Company Yamaha', N'Thôn Bình An, xã Trung Giã, Thành phố Hà Nội', '18001588', 'Japan')
) AS s(Sup_ID,Sup_Name,Address,Contact,Country)
ON (t.Sup_ID=s.Sup_ID)
WHEN NOT MATCHED THEN
  INSERT (Sup_ID,Sup_Name,Address,Contact,Country,Status) VALUES (s.Sup_ID,s.Sup_Name,s.Address,s.Contact,s.Country,'Available')
WHEN MATCHED THEN
  UPDATE SET t.Country = s.Country, t.Sup_Name = s.Sup_Name;
GO

-- ============================================
-- FINAL UPDATES
-- ============================================

-- Ensure Product has all columns
IF EXISTS (SELECT 1 FROM sys.tables WHERE name='Product')
BEGIN
    IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=OBJECT_ID('dbo.Product') AND name='List_Price_Before')
        ALTER TABLE dbo.Product ADD List_Price_Before decimal(10,2) NULL;
    IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=OBJECT_ID('dbo.Product') AND name='List_Price_After')
        ALTER TABLE dbo.Product ADD List_Price_After decimal(10,2) NULL;
    IF NOT EXISTS (SELECT 1 FROM sys.columns WHERE object_id=OBJECT_ID('dbo.Product') AND name='Warehouse_Item_ID')
        ALTER TABLE dbo.Product ADD Warehouse_Item_ID varchar(50) NULL;
END
GO

-- Update Product prices
UPDATE p SET p.List_Price_After = ISNULL(p.List_Price_After, p.Price) FROM dbo.Product p;
UPDATE p SET p.List_Price_Before = ISNULL(p.List_Price_Before, p.List_Price_After) FROM dbo.Product p;
UPDATE p SET p.Price = p.List_Price_After FROM dbo.Product p;
GO

-- Update Bill_Imported_Details Total_Price
UPDATE d SET d.Total_Price = d.Quantity * d.Unit_Price_Import
FROM dbo.Bill_Imported_Details d
WHERE ISNULL(d.Total_Price,0)=0;
GO

-- Update Bill_Exported_Details prices
UPDATE d
SET d.Unit_Price_Sell_Before = COALESCE(d.Unit_Price_Sell_Before, p.List_Price_Before, d.Unit_Price_Sell_After)
FROM dbo.Bill_Exported_Details d
JOIN dbo.Product p ON p.Product_ID=d.Product_ID;
GO

UPDATE d SET d.Total_Price_Before = d.Unit_Price_Sell_Before * d.Sold_Quantity
FROM dbo.Bill_Exported_Details d
WHERE ISNULL(d.Total_Price_Before,0)=0;
GO

UPDATE d SET d.Total_Price_After  = d.Unit_Price_Sell_After * d.Sold_Quantity * (1 - ISNULL(d.Discount_Percent,0)/100.0)
FROM dbo.Bill_Exported_Details d
WHERE ISNULL(d.Total_Price_After,0)=0;
GO

-- Update Discount_Percent from Promotion
UPDATE d
SET d.Discount_Percent = COALESCE(d.Discount_Percent, pr.Discount_Percent)
FROM dbo.Bill_Exported_Details d
JOIN dbo.Bill_Exported h ON h.Invoice_No=d.Invoice_No AND h.Admin_ID=d.Admin_ID
LEFT JOIN dbo.Promotion pr ON pr.Promotion_Code = h.Promotion_Code
WHERE pr.Promotion_Code IS NOT NULL;
GO

-- Auto-calculate warranty dates based on Product's Warranty_Months
UPDATE bed
SET bed.Start_Date = bed.Date_Exported,
    bed.End_Date = DATEADD(MONTH, p.Warranty_Months, bed.Date_Exported)
FROM dbo.Bill_Exported_Details bed
INNER JOIN dbo.Product p ON bed.Product_ID = p.Product_ID
WHERE bed.Start_Date IS NULL OR bed.End_Date IS NULL;
GO

